<div class="container">
  <div class="row">
<!--<div class="col-sm-4"></div>-->
<div class="col-sm-offset-4 col-sm-4 col-xs-offset-6 col-xs-6">
<img class="img-responsive tastyImg" src="./assets/images/tasty.jpg" >
<h3>Tasty Schnitzel</h3>


  <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">manage Recipe
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="#">Recipe</a></li>
      <li><a href="#">Recipe</a></li>
      <li><a href="#">Recipe</a></li>
    </ul>
  </div>
<p>A Tasty Schnitzel Just Awesome</p>



</div>
<div class="col-sm-4"></div>

</div>
<!--<router-outlet></router-outlet>-->
